<div class="dash-page">
    Add envelope text

    <form class="add-envelope">
        <div>
            <label for="add-text">Text:</label>
            <input type="text" id="add-text" />
        </div>
        <div>
            <button type="submit" data-envelopes="{{envelopes.length}}" class="btn-link">Add</button>
        </div>
    </form>

    There are currently {{envelopes.length}} envelope(s).

    {{#if envelopes}}
    <div class="current-envelopes">
        <ul class="current-list">
            {{#each envelopes as |envelope|}}
            <li>
                <div>{{envelope.envelope_text}}</div>
                <div data-id="{{envelope.id}}" class="btn-link delete-btn">Delete</div>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
</div>

<script src="/assets/js/add.js"></script>