<div class="dash-page">
    {{> header}}
    <div class="envelope-form">
        <h2>Add envelope text</h2>

        <form class="add-envelope">
            <div>
                <label for="add-text">Text:</label>
                <input type="text" id="add-text" />
            </div>
            <div>
                <button type="submit" data-envelopes="{{envelopes.length}}" class="btn-link">Add</button>
            </div>
        </form>
    </div>

    <div class="current-envelopes">
        <h2>Current Envelopes</h2>
        There are currently {{envelopes.length}} envelope(s).

        {{#if envelopes}}
            <ul class="current-list">
                {{#each envelopes as |envelope|}}
                <li>
                    <div>{{envelope.envelope_text}}</div>
                    <div data-id="{{envelope.id}}" class="btn-link delete-btn">Delete</div>
                </li>
                {{/each}}
            </ul>
        {{/if}}
    </div>
</div>

<script src="/assets/js/add.js"></script>