<div class="dash-page">
    We are logged in.

    <ul>
        <li>
            <a href="/add">Add Envelope Text</a>
        </li>
        <li>
            <a href="/stream-control">Pick Envelopes</a>
        </li>
    </ul>

    <button id="logout" class="btn-link">Logout</button>
</div>

<script src="/assets/js/logout.js"></script>