<div class="dash-page">
    {{> header}}

    <div class="dash-links">
        <a href="/add">
            <i class="fa-solid fa-plus"></i>
            Add Envelope Text
        </a>
        <a href="/stream-control">
            <i class="fa-solid fa-envelope"></i>
            Pick Envelopes
        </a>
    </div>

    <button id="logout" class="btn-link">Logout</button>
</div>

<script src="/assets/js/logout.js"></script>