<div class="login-page">
    <form class="login">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="login-username" />
        </div>
        <div>
            <label for="username">Password:</label>
            <input type="password" id="login-password" />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</div>

<script src="/assets/js/login.js"></script>