<div class="login-page">
    <h1 class="title">Rosa's Envelopes for DrGluon</h1>
    <form class="login">
        Hello, login coming soon.
        <div class="users"></div>
    </form>
</div>

<script src="/assets/js/login.js"></script>