<div class="dash-page {{#unless dashboardView}}green-screen{{/unless}}">
    {{#if dashboardView}}
    <div>
        <button class="btn-link" id="randomize-envelopes-btn">Randomize Envelopes</button>
        <button class="btn-link" id="randomize-img-btn">Randomize Parcel Delivery Message</button>
    </div>
    {{/if}}

    <!-- Envelopes -->
    {{#unless parcelView}}
    <div id="envelope-view">
    </div>
    {{/unless}}

    <!-- Parcel Image -->
    {{#unless envelopeView}}
    <div id="parcel-view">
        <img id="parcel-img" />
    </div>
    {{/unless}}
</div>

<script src="/assets/js/stream.js"></script>
<script src="/assets/js/socket.js"></script>