<div class="dash-page {{#unless dashboardView}}green-screen{{/unless}}">
    {{#if dashboardView}}
    {{> header}}
    <div class="dash-btns">
        <button class="btn-link" id="randomize-envelopes-btn">Randomize Envelopes</button>
        <button class="btn-link" id="randomize-img-btn">Randomize Parcel Delivery Message</button>
    </div>
    {{/if}}

    <!-- Envelopes -->
    {{#unless parcelView}}
    {{#if dashboardView}}<h2>Envelopes</h2>{{/if}}
    <div id="envelope-view" class="{{#if dashboardView}}dash-view{{/if}}">
    </div>
    {{/unless}}

    <!-- Parcel Image -->
    {{#unless envelopeView}}
    {{#if dashboardView}}<h2>Parcel Delivery Message</h2>{{/if}}
    <div id="parcel-view" class="{{#if dashboardView}}dash-view{{/if}}">
        <img id="parcel-img" />
    </div>
    {{/unless}}
</div>

<script src="/assets/js/stream.js"></script>
<script src="/assets/js/socket.js"></script>