:root {
  --fez: #D90C00;
  --fez-dark: #9B0900;
  --bee: #FBE509;
  --bg-color: #FFF;
  --dark: #222;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: var(--bg-color);
  overflow-x: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

a,
a:hover,
.btn-link,
.btn-link:hover {
  transition: all 0.5s ease-in-out;
}

a {
  text-decoration: none;
  color: var(--bg-color);
}
a:hover {
  color: var(--bee);
}

.btn-link {
  font-family: 'Fredoka One', cursive;
  font-size: 1.2em;
  line-height: 1;
  border: none;
  padding: 15px;
  border-radius: 8px;
  text-transform: uppercase;
  margin: 1px;
  color: var(--dark);
}
.btn-link:hover {
  cursor: pointer;
  color: var(--fez-dark);
}
.btn-link:disabled:hover {
  cursor: default;
  color: var(--dark);
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

header h1 {
  font-family: 'Luckiest Guy', cursive;
  font-family: 400;
  font-size: 3em;
  margin: 0 0 15px;
  color: var(--bg-color);
}

h2 {
  font-family: 'Luckiest Guy', cursive;
  font-family: 400;
  font-size: 2em;
  color: var(--bg-color);
  margin: 10px 0 5px;
}

.login-page {
  background-color: var(--bg-color);
  color: #222;
  font-family: 'Fredoka One', cursive;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 1px 1px 6px #000;
  width: 600px; max-width: 100%;
}
.login-page h1 {
  color: var(--fez);
}
.login label, .login input {
  width: 100%;
  font-size: 1.5em;
}
.login input {
  font-family: 'Luckiest Guy', cursive;
  padding: 15px 15px 10px;
  font-size: 2.6em;
  line-height: 1;
  text-align: center;
  margin: 12px;
  color: #222;
  text-transform: uppercase;
}
.login button {
  background-color: var(--fez);
  color: #FFF;
}
.login button:hover {
  background-color: var(--bee);
  color: #222;
}

.dash-links {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.dash-links a {
  background-color: var(--bg-color);
  padding: 15px;
  margin: 5px;
  border-radius: 8px;
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
  color: var(--fez);
  font-size: 2em;
}
.dash-links a:hover {
  color: var(--fez-dark);
}
.dash-btns {
  margin: 0 0 15px 0;
}
.dash-clear-btns {
  margin: 0 0 25px 0;
}
.dash-clear-btns button {
  font-size: 1em;
  color: var(--fez);
  padding: 10px;
}
.dash-clear-btns button:hover {
  color: var(--fez-dark);
}


.add-envelope input {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  padding: 15px 15px 10px;
  font-size: 1em;
  line-height: 1;
  margin: 0 0 10px;
  color: #222;
  border: 1px solid #EEE;
  border-radius: 8px;
  width: calc(100% - 30px);
}
.current-envelopes {
  margin-top: 40px;
}
ul.current-list {
  margin: 15px;
}
ul.current-list li {
  display: flex;
  align-items: center;
  padding: 5px 15px 15px;
  margin: 0 0 10px;
  border-bottom: 1px solid #181818;
}
ul.current-list li .curr-envelope-text {
  flex: 1;
  text-align: left;
}
.delete-btn {
  font-size: 1em;
  background-color: var(--fez);
  color: var(--bg-color);
  padding: 3px 5px;
  margin: 0  0 0 5px;
}
.delete-btn:hover {
  background-color: var(--fez-dark);
  color: var(--bg-color);
}

#parcel-img {
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
#parcel-img.show-img {
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}

/* .dash-view {
  transform: scale(.5);
} */

#envelope-view {
  display: flex;
}
.envelope {
  background: transparent;
  width: 30vw;
  height: calc(30vw - 100px);
  perspective: 1200px;
  margin-bottom: 40px;
  margin: 10px;
}
.envelope-wrap {
  position: relative;
  width: 100%; height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
/* .envelope:hover .envelope-wrap {
  cursor: pointer;
  transform: rotateY(180deg);
} */
.envelope:hover {
  cursor: pointer;
}
.envelope.flip .envelope-wrap {
  transform: rotateY(180deg);
}
.envelope-style {
  border-radius: 5px;
  position: absolute;
  width: 100%; height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 25px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}
.envelope-back {
  background-color: var(--bg-color);
  background-image: url('/assets/images/envelopes/envelope-bg.jpg');
  transform: rotateY(180deg);
  color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}
.envelope-front {
  background-color: var(--bg-color);
  background-image: url('/assets/images/envelopes/envelope-front.jpg');
}
.envelope-text {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#envelope-content {
  flex-direction: column;
}
#envelope-content div {
  background-image: url('/assets/images/envelopes/envelope-bg.jpg');
  background-color: var(--bg-color);
  padding: 50px;
  font-size: 3em;
  color: var(--dark);
  transform: scale(0);
  transition: all 0.4s ease-in-out;
  /* width: 100%; max-width: 750px;
  position: absolute;
  top: 0; left: 0;
  margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0; left: 0;
  z-index: -1;
}
#envelope-content .show-content {
  transform: scale(1);
  transition: all 0.4s ease-in-out;
  z-index: 1000;
}

#clear-envelope-btn {
  position: absolute;
  bottom: 20px; right: 20px;
  z-index: 10000;
}

.indie-flower {
  font-family: 'Indie Flower', cursive;
  font-size: .8em;
}
.nanum-brush {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 1.1em;
}
.square-peg {
  font-family: 'Square Peg', cursive;
  font-size: 1.05em;
}

input:focus {
  outline: none;
  border: 1px solid var(--fez);
}

.green-screen {
  background-color: lime;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  padding: 50px;
}